<script>
	let anafApiRoute = "{{ absolute_url(path('apiAnafValidation'))|escape('js') }}";
let languageApiRoute = "{{ absolute_url(path('apiChangeLanguage'))|escape('js') }}";
let getCityByCountyCode = "{{ absolute_url(path('apiGetCityByCountyCode'))|escape('js') }}";
</script>
